In [1]:
# importing packages
import string
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell

# setting package beheaviors
## set Seaborn style
sns.set(style = "darkgrid")
## enable multiple output by IPython core
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# reading in data
df_train = pd.read_csv('/kaggle/input/titanic/train.csv')
df_test = pd.read_csv('/kaggle/input/titanic/test.csv')
df_all = pd.concat([df_train, df_test], sort = True).reset_index(drop = True)

df_train.name = "Training Set"
df_test.name = "Test Set"
df_all.name = "All Set"

print("Shape of Training Set: {}".format(df_train.shape))
print("Shape of Test Set: {}".format(df_test.shape))
# df_train.head(10)

# data_frame.sample() is a function that returns samples of given size from the dataFrame.
# can use random_state to control the internal random process and reproduce the sampling
# process.
df_train.sample(10)

## general info about the data (types and null info)
df_train.info()

## statistical basics
df_train.describe()

## memory usage (measured by bytes) 
## (vitually unnecessary cause memory usage are included in df.info() also)
# df_train.memory_usage()

Shape of Training Set: (891, 12)
Shape of Test Set: (418, 11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
645,646,1,1,"Harper, Mr. Henry Sleeper",male,48.0,1,0,PC 17572,76.7292,D33,C
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.0,1,0,3101278,15.8500,NaN,S
357,358,0,2,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0000,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
574,575,0,3,"Rush, Mr. Alfred George John",male,16.0,0,0,A/4. 20589,8.0500,NaN,S
575,576,0,3,"Patchett, Mr. George",male,19.0,0,0,358585,14.5000,NaN,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.0,5,2,CA 2144,46.9000,NaN,S

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Explore df.column

df.column is a special attribute of df. It contains names of all attributes (or so called column names) in a dataframe. All data are collected in type df.Index, which is similar to df.Series

Methods like tolist() (derived from numpy) can be used to convert df.Index to type List. It is not nessesary to convert df.Index to List in order to iterate the data, however, df.Index is not promised to be iterable in future implementation.(Although it is iterable right now), So it is recommended to use a conversion before iterating it.

In [3]:
# explore df.column
df_train.columns
print(type(df_train.columns))
df_train.columns.tolist()
print(type(df_train.columns.tolist()))

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

<class 'pandas.core.indexes.base.Index'>

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

<class 'list'>

## Detecting corrupted value and summation

### Corrupted values

isnull() method can be used to detect null values in dataframe or series. This is particularly useful.

**isna() is equivalant to isnull() method. De facto, isnull is an alias for isna() method.**

When applied to a df, the return value will be a dataframe, and a series when applied to a seried.

**In Pandas, all corrupted values are represented using NaN (derived form np.NaN), and ''(void string) or np.inf are not considered as one of them. use pandas.options.mode.use_inf_as_na = True) if you wish to alter this beheavior.**

### Summation

sum() can be applied to calulate summation in Pandas.

A trick to get the total number of NaNs in a Series is to use

`series.isnull().sum()`

because when calculating Boolean, python interpretor automatically treate True as 1 and False as 0.

In [4]:
df_train[df_train.columns.tolist()[0]].isnull()
# df_train.isnull()

df_train.isnull().sum()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: PassengerId, Length: 891, dtype: bool

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
pd.Series([0,False,1.1,True]).sum()

True + True

2.1

2